

services:
  sparkle_db:
    image: pgvector/pgvector:pg16
    container_name: sparkle_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sparkle
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d sparkle"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis/redis-stack-server:latest
    container_name: sparkle_redis
    restart: always
    volumes:
      - ./redis_data:/data
      - ./redis.conf:/redis-stack.conf
    environment:
      - REDIS_ARGS=--requirepass ${REDIS_PASSWORD:-devpassword}
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          memory: 4G
